<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | Stratos Agein</title>
    <meta name="description" content="Balance ScoreCard platform by Stratos Agein S.A.S." />
    <meta name="keywords" content="stratos, agein, balance, scorecard, charts" />
    <meta name="author" content="Camilo Rodríguez" />
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/home/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/home/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="/images/home/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/home/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/home/favicons/manifest.json">
    <link rel="shortcut icon" href="/images/home/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="/images/home/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/OwlCarousel/owl-carousel/owl.carousel.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Elegant Icons -->
    <link href="~/fonts/et-icons.css" rel="stylesheet" />
    <!-- Main style -->
    @Styles.Render("~/build/css/home-sigma.css")
</head>

<body>
    <div class="preloader">
        <img src="/images/home/loader.gif" alt="Preloader image">
    </div>
    <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/images/home/logo.png" data-active-url="/images/home/logo-active.png" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-nav">
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="@Url.Action("Index","Dashboard")">Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Sign Up</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    @RenderBody()
    
    <!-- Holder for mobile navigation -->
    <div class="mobile-nav">
        <ul></ul>
        <a href="#" class="close-link"><i class="arrow_up"></i></a>
    </div>
    <!-- Scripts -->
    @Scripts.Render("~/build/js/home-sigma.js")
    @RenderSection("scripts", required: false)
    <script src="~/js/Home/jquery-1.11.1.min.js"></script>
    <script src="~/js/Home/owl.carousel.min.js"></script>
    <script src="~/js/Home/bootstrap.min.js"></script>
    <script src="~/js/Home/wow.min.js"></script>
    <script src="~/js/Home/typewriter.js"></script>
    <script src="~/js/Home/jquery.onepagenav.js"></script>
    <script src="~/js/Home/main.js"></script>
</body>

</html>
